$primary: rgb(21, 68, 122);
$orange: rgb(247, 144, 30);
$pageBackground: #eef4ff;
$textMuted: #b0b2ca;
$lightGrey: #d5d5d5;
:export {
  primary: $primary;
  orange: $orange;
  pagebackground: $pageBackground;
  textMuted: $textMuted;
  lightgrey: $lightGrey;
}
