$primary: rgb(21, 68, 122);
$orange: rgb(247, 144, 30);
$pageBackground: #eef4ff;
$textMuted: #b0b2ca;
:export {
  primary: $primary;
  orange: $orange;
  pageBackground: $pageBackground;
  textMuted: $textMuted;
}
