@import '../../assets/styles/colors.scss';

.viewIcon {
  color: white;
  cursor: pointer;
}
.speedDial {
  position: relative;
}
.fab {
  background-color: $primary;
  width: 40px;
  height: 40px;
  margin: 10px 0px;
}
